# Configs
.eslintrc.cjs
prettier.config.js
tsconfig.js
tailwind.config.js
postcss.config.js

# Distributable
dist
build
*.bundle.js
*.js.map

# Version control
.git
.history

.cache
.vscode

node_modules